/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* BODY STYLES */
body {
    font-family: sans-serif;
    background-color: #fff;
    padding: 20px;
}

#wholeContainer {
    display: flex;
}


/* HEADER STYLES */
header {
    background-color: #5500ff;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* SEARCH CONTAINER */
#searchContainer {
    flex: 0 0 250px;
    background-color: #fff;
    padding: 10px;
    margin-right: 20px;
}

#searchForm {
    margin-bottom: 10px;
}

#cityInput,
#submitButton {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#submitButton {
    background-color: #0000ff;
    color: #fff;
    margin-top: 10px;
}


/* MAIN CONTAINER */
#mainContainer {
    flex-basis: 70%;
    padding: 20px;
}

#currentWeather h2,
#forecast h2 {
    margin-top: 0;
}


/* CURRENT WEATHER */
#currentWeather {
    border: 1px solid #ccc;
    padding: 20px;
}

#cityName,
#date,
#weatherIcon {
    display: inline-block;
    vertical-align: middle;
}

#cityName,
#date {
    font-size: 24px;
    margin-right: 10px;
}

#weatherIcon img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

#temperature,
#humidity,
#windSpeed {
    margin-top: 10px;
}


/* FORECAST */
#forecast {
    padding: 20px;
}

#forecastContainer {
    display: flex;
    flex-wrap: wrap;
}

.forecast-item {
    flex-basis: calc(20% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1 px solid #ccc;
    text-align: center;
    background-color: #24245235;
}


/* SEARCH HISTORY */
.search-history {
    margin-top: 10px;
}

.city-item {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    background-color: lightgrey;
}


/* RESPONSIVE LAYOUT */
@media (max-width: 768px) {
    #wholeContainer {
        flex-direction: column;
    }

    #searchContainer,
    #mainContainer {
        flex-basis: 100%;
    }
}